version: "3.8"

services:
  n8n:
    image: n8nio/n8n
    restart: always
    ports:
      - "5678:5678"
    environment:
      - N8N_BASIC_AUTH_ACTIVE=true
      - N8N_BASIC_AUTH_USER=lohit.b@oneorigin.us
      - N8N_BASIC_AUTH_PASSWORD=Iamlohit3318#
      - N8N_HOST=localhost
      - N8N_PORT=5678
      - N8N_PROTOCOL=http
      - WEBHOOK_URL=http://localhost:5678/
      - SUPABASE_URL=https://iesixugyuvpqjfrvszud.supabase.co
      - SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imllc2l4dWd5dXZwcWpmcnZzenVkIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2NzExODY4NSwiZXhwIjoyMDgyNjk0Njg1fQ.ysrN5n4pGi8J740UqKbF1h1k3RydjN3BeleY92xLBSI
      - BACKEND_API_BASE=http://host.docker.internal:4000
    volumes:
      - ./n8n_data:/home/node/.n8n
